a {
    text-decoration: yellow;
}

.logo {
    width: 100px;
    height: 100px;
    text-align: center;
    color: green;
    font-size: 30px;
    font-weight: bold;
    font-family: "Brush Script MT",cursive;
}